th,
td {
  border: 1px solid lightgray;
}
tr:last-of-type th {
  border-bottom-width: 1px !important;
}

.resizer {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5px;
  background: var(--chakra-colors-cyan-200);
  cursor: col-resize;
  user-select: none;
  touch-action: none;
}

.resizer.isResizing {
  background: var(--chakra-colors-cyan-500);
  opacity: 1;
}

@media (hover: hover) {
  .resizer {
    opacity: 0;
  }

  *:hover > .resizer {
    opacity: 1;
  }
}

.table-column-sizing th {
  position: relative;
}

.th {
  padding: 2px 4px;
  position: relative;
  font-weight: bold;
  text-align: center;
  height: 30px;
}
.tr {
  width: fit-content;
  height: 30px;
  display: flex;
}
